// $theme: #175b96;
// $themeLight: #175b9629;
// $themeMidLight:#1347756f;
// $themeHover:#0f416c;
// $sidebar:linear-gradient(135deg, #f2f6fa 0%, #e3f0f8 48%, #d0e6fd 100%);

$theme: #db856c;
$themeLight: #db866c1b;
$themeMidLight:#db866c57;
$themeHover:#b9654b;
$theme2:#db856c;
$theme3:#af3429;
$themeSecondaryHover:#e47655;
$sidebar:linear-gradient(135deg, #faf7f2 0%, #f8eee3 48%, #fdf0d0 100%);

// $theme: #00727d;
// $themeLight: #e6f1f3;
// $themeMidLight:#00737d6b;
// $themeHover:#034a51;
// $theme2:#db856c;
// $theme3:#af3429;
// $themeSecondaryHover:#e47655;
// $sidebar:white;
// $sidebar:linear-gradient(135deg, #f2faf5 0%, #e3f8f0 48%, #d0fdee 100%);